/* src/pages/AdminDashboard.module.css */

.dashboardContainer {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.title {
  color: var(--color-yellow);
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.ordersTable {
  width: 100%;
  border-collapse: collapse;
  color: #ccc;
}

.ordersTable th, .ordersTable td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #444;
}

.ordersTable th {
  color: var(--color-white);
  font-size: 1.1rem;
}

.ordersTable tbody tr:hover {
  background-color: #2a2a2a;
}

.statusRecibido, .statusActivo, .statusInactivo {
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: bold;
}

.statusActivo {
  background-color: #4CAF50; /* Verde */
}

.statusInactivo {
  background-color: #a1a1a1; /* Gris */
}

.deactivateButton {
  background-color: var(--color-red);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 0.5rem; /* Espacio entre botones */
}

.deactivateButton:hover {
  background-color: #c62828;
}

.activateButton {
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 0.5rem; /* Espacio entre botones */
}

.activateButton:hover {
  background-color: #388e3c;
}

.editButton {
  background-color: var(--color-blue);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 0.5rem; /* Espacio entre botones */
}

.editButton:hover {
  background-color: #0056b3;
}

.loading, .error {
  font-size: 1.5rem;
  color: var(--color-yellow);
  text-align: center;
  padding: 2rem;
}

.error {
  color: var(--color-red);
}